<center><b>John Tebasiima B35101 Msc. Data science</b></center>

<center> <b>Question 1</b></center>

In [3]:
# Q1: Electricity Billing Optimization

# Sample dataset
customer_name = ['Bosco', 'Jane', 'Ali', 'Sarah', 'Emma', 'Ivan', 'Grace', 'Paul', 'Kevin', 'Diana']
units_used = [245, 600, 350, 800, 120, 950, 480, 300, 720, 400]
connection_type = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 'Domestic', 
                   'Commercial', 'Domestic', 'Domestic', 'Commercial', 'Domestic']

# 1.1 Compute total bills using zip(), map(), and a lambda function
# Domestic rate = 820 UGX/unit; Commercial rate = 1000 UGX/unit

bills = list(
    map(
        lambda data: data[1]*820 if data[2] == 'Domestic' else data[1]*1000,
        zip(customer_name, units_used, connection_type)
    )
)

# Combine customer names with their bills using zip()
customer_bills = list(zip(customer_name, bills))

print("Customer bills:")
for name, bill in customer_bills:
    print(f"{name}: UGX {bill:,}") # using f strings for string formatting

Customer bills:
Bosco: UGX 200,900
Jane: UGX 600,000
Ali: UGX 287,000
Sarah: UGX 800,000
Emma: UGX 98,400
Ivan: UGX 950,000
Grace: UGX 393,600
Paul: UGX 246,000
Kevin: UGX 720,000
Diana: UGX 328,000

In [5]:
# 1.2 Use filter() to separate high-consumption customers

high_consumers = list(
    filter(
        lambda data: data[1] > 500,
        zip(customer_name, units_used)
    )
)

print("\nHigh-consumption customers (units > 500):")
for name, units in high_consumers:
    print(f"{name} - {units} units")

High-consumption customers (units > 500):
Jane - 600 units
Sarah - 800 units
Ivan - 950 units
Kevin - 720 units

In [7]:
# 1.3 Define function to compute average bill

def average_bill(*bills): # using args here since bills can take on a number of arguments
    return sum(bills) / len(bills)

avg = average_bill(*bills)
print(f"\nAverage bill: UGX {avg:,.0f}")

Average bill: UGX 462,390

In [9]:
# 1.4 Display results in formatted list comprehension

formatted_bills = [f"{name}: UGX {bill:,}" for name, bill in customer_bills]
print("\nFormatted Results:")
print(formatted_bills)

Formatted Results:
['Bosco: UGX 200,900', 'Jane: UGX 600,000', 'Ali: UGX 287,000', 'Sarah: UGX 800,000', 'Emma: UGX 98,400', 'Ivan: UGX 950,000', 'Grace: UGX 393,600', 'Paul: UGX 246,000', 'Kevin: UGX 720,000', 'Diana: UGX 328,000']

<center> <b>Question 2</b></center>

In [12]:
from itertools import zip_longest #importing zip_longest method

# Daily fruit prices from different vendors
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices  = [4500, 4600, 4550, 4700]

# 2.1 Use zip_longest() to handle missing prices
# (In case some lists are shorter, missing values will be filled with None or a specified value)

zipped_prices = list(zip_longest(mango_prices, orange_prices, apple_prices, fillvalue=None))

print("Zipped Prices (Handling Missing Data):")
for day, prices in enumerate(zipped_prices, start=1):
    print(f"Day {day}: {prices}")

Zipped Prices (Handling Missing Data):
Day 1: (2500, 3000, 4500)
Day 2: (2700, 3200, 4600)
Day 3: (2600, 3100, 4550)
Day 4: (2800, 3050, 4700)

In [14]:
# 2.2 Define a lambda function for average
avg = lambda lst: sum(lst) / len(lst)

# Compute average prices for each fruit
fruit_avgs = {
    'Mango': avg(mango_prices),
    'Orange': avg(orange_prices),
    'Apple': avg(apple_prices)
}

print("\nAverage Price per Fruit:")
for fruit, price in fruit_avgs.items():
    print(f"{fruit}: UGX {price:,.0f}") # using f strings to print averages to zero decimal place

Average Price per Fruit:
Mango: UGX 2,650
Orange: UGX 3,088
Apple: UGX 4,588

In [16]:
# 2.3 Create a generator that yields fruits with average price above 3000

above_avg_gen = (fruit for fruit, price in fruit_avgs.items() if price > 3000)

In [18]:
# 2.4 Print the generatorâ€™s results neatly

fruits_above_avg = list(above_avg_gen)

print("\nFruits Above Average Price:")
print(", ".join(fruits_above_avg))   #joins the list into a single readable string

Fruits Above Average Price:
Orange, Apple

<center><b>Question 3</b></center>

In [41]:
kampala = [28,30,29,27,26,29,30,31,30,29,28]
gulu = [25,26,27,27,28,29,30,30,29,27,26,25]
mbarara = [22,23,23,24,25,25,26,27,27,26,24,23]

#months
months= ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

# 3.1 use map() with lambda to convert all temperatures to Fahrenheit
to_fahrenheit = lambda x: (9*x/5) + 33

kampala_f = list(map(to_fahrenheit, kampala))
gulu_f =list(map(to_fahrenheit, gulu))
mbarara_f =list(map(to_fahrenheit, mbarara))
mbarara_f # displaying mbarara converted temperatures

[72.6, 74.4, 74.4, 76.2, 78.0, 78.0, 79.8, 81.6, 81.6, 79.8, 76.2, 74.4]

In [35]:
# 3.2 Use zip() to pair months (Jan - Dec) with Kampala temps

monthly_kampala = list(zip(months, kampala))
monthly_kampala # displaying kampala monthly distribution

[('Jan', 28),
 ('Feb', 30),
 ('Mar', 29),
 ('Apr', 27),
 ('May', 26),
 ('Jun', 29),
 ('Jul', 30),
 ('Aug', 31),
 ('Sep', 30),
 ('Oct', 29),
 ('Nov', 28)]

In [43]:
#3.3 use filter() to identify months with temperature >30c

hot_months = list(filter(lambda x: x[1] > 30, monthly_kampala ))
print(f"The hot temperatures in kampala are {hot_months}")

The hot temperatures in kampala are [('Aug', 31)]

In [45]:
#3.4 Create a generator to yield month names and temperatures above threshold

hot_months_gen = (f"{month} - {temp}Â°C" for month, temp in monthly_kampala if temp > 30)

#3.5 Print neatly

print("\nHot months in Kampala:")
print(", ".join(hot_months_gen))

Hot months in Kampala:
Aug - 31Â°C

<center><b>Question 4</b></center>

In [71]:
# Installment data
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
    [150000, 200000, 250000],
    [500000, 0, 200000],
    [300000, 300000, 300000],
    [400000, 100000, 0]
]

#4.1 Lambda to sum valid payments (ignore zeros)

valid_sum = lambda payments: sum(filter(lambda x: x > 0, payments))

In [73]:
#4.2 Use map() to compute total paid by each student
totals = list(map(valid_sum, installments))
print("Total payments per student:", totals)

Total payments per student: [600000, 700000, 900000, 500000]

In [75]:
#4.3 Combine student names and totals using zip()

student_totals = list(zip(students, totals))
print("\nStudent totals:", student_totals)

Student totals: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]

In [77]:
#4.4 Use filter() to find students who cleared full fees (â‰¥ 600,000)
cleared_students = list(filter(lambda x: x[1] >= 600000, student_totals))
print("\nStudents who cleared full fees:", cleared_students)

Students who cleared full fees: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

In [79]:
#4.5 Define payment_summary(**kwargs) to print named summaries

def payment_summary(**kwargs):
    print("\n--- Payment Summary ---")
    for name, amount in kwargs.items():
        print(f"{name}: UGX {amount:,}")

# Convert cleared_students list to kwargs format
cleared_dict = dict(cleared_students)

# Call the function
payment_summary(**cleared_dict)

--- Payment Summary ---
Alex: UGX 600,000
Grace: UGX 700,000
Sarah: UGX 900,000

<center><b>Question 5</b></center>

In [82]:
# Q5: Agricultural Yield Estimator

# Yield data (in kilograms)
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

# 5.1 Convert yields from kg to tons using list comprehension and lambda
kg_to_ton = lambda kg: kg / 1000

yield_tons = [kg_to_ton(y) for y in yield_data]
print("Yields in tons:", yield_tons)

Yields in tons: [1.2, 1.5, 0.9, 1.3]

In [84]:
#5.2 Generator to yield districts with yield > 1 ton
def high_yield_gen(districts, yields):
    for d, y in zip(districts, yields):
        if y > 1:
            yield d, y

high_yield = list(high_yield_gen(districts, yield_tons))
print("\nDistricts with yields > 1 ton:", high_yield)

Districts with yields > 1 ton: [('Bushenyi', 1.2), ('Mityana', 1.5), ('Mbale', 1.3)]

In [86]:
# 5.3 Use *args to compute average yield
def average_yield(*args):
    return sum(args) / len(args)

avg = average_yield(*yield_tons)
print(f"\nAverage yield across all districts: {avg:.2f} tons")

Average yield across all districts: 1.23 tons

In [90]:
# 5.4 Use **kwargs to simulate price changes per district and compute revenue

def compute_revenue(**kwargs):
    print("\nDistrict Revenue Summary")
    for district, price in kwargs.items():
        # Get corresponding yield in tons
        index = districts.index(district)
        tons = yield_tons[index]
        revenue = tons * price
        print(f"{district} produced {tons:.1f} tons â€” Revenue: UGX {revenue:,.0f}")

# Simulated price per ton (UGX)
prices = {
    'Bushenyi': 5_000_000,
    'Mityana': 4_800_000,
    'Kasese': 5_000_000,
    'Mbale': 4_500_000
}

# 5.5 Print formatted output 
compute_revenue(**prices)

District Revenue Summary
Bushenyi produced 1.2 tons â€” Revenue: UGX 6,000,000
Mityana produced 1.5 tons â€” Revenue: UGX 7,200,000
Kasese produced 0.9 tons â€” Revenue: UGX 4,500,000
Mbale produced 1.3 tons â€” Revenue: UGX 5,850,000

<center><b>Question 6</b></center>

In [93]:
#Web Data Aggregation

import requests

# Given list of sites
sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

# 6.1 Function to take *urls and return response codes

def check_sites(*urls):
    results = {}
    for url in urls:
        try:
            response = requests.get(url, timeout=5)
            results[url] = response.status_code
        except requests.exceptions.RequestException:
            results[url] = None  # None if unreachable
    return results

# Test function
status_results = check_sites(*sites)
print("Status Results:\n", status_results)

Status Results:
 {'https://ucu.ac.ug': 200, 'https://harba.ug': None, 'https://www.bou.or.ug': 200}

In [95]:
# 6.2 List comprehension to filter only status code 200
active_sites = [url for url, code in status_results.items() if code == 200]
print("\nActive sites (status 200):")
print(active_sites)

Active sites (status 200):
['https://ucu.ac.ug', 'https://www.bou.or.ug']

In [97]:
# 6.3 Dictionary comprehension to store results
site_dict = {url: ('Active' if code == 200 else 'Inactive') for url, code in status_results.items()}
print("\nSite status dictionary:")
print(site_dict)

Site status dictionary:
{'https://ucu.ac.ug': 'Active', 'https://harba.ug': 'Inactive', 'https://www.bou.or.ug': 'Active'}

In [99]:
# 6.4 Generator expression to yield active sites 
active_gen = (f"Active Site: {url}" for url, code in status_results.items() if code == 200)

print("\nGenerator Output:")
for site in active_gen:
    print(site)

Generator Output:
Active Site: https://ucu.ac.ug
Active Site: https://www.bou.or.ug